SiemensHR/Web References/edoc/User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertUpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personal_data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="deleted" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertUpdateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="InsertUpdateUserSoapIn">
    <part name="parameters" element="s0:InsertUpdateUser" />
  </message>
  <message name="InsertUpdateUserSoapOut">
    <part name="parameters" element="s0:InsertUpdateUserResponse" />
  </message>
  <message name="DeleteUserSoapIn">
    <part name="parameters" element="s0:DeleteUser" />
  </message>
  <message name="DeleteUserSoapOut">
    <part name="parameters" element="s0:DeleteUserResponse" />
  </message>
  <portType name="UserSoap">
    <operation name="InsertUpdateUser">
      <input message="s0:InsertUpdateUserSoapIn" />
      <output message="s0:InsertUpdateUserSoapOut" />
    </operation>
    <operation name="DeleteUser">
      <input message="s0:DeleteUserSoapIn" />
      <output message="s0:DeleteUserSoapOut" />
    </operation>
  </portType>
  <binding name="UserSoap" type="s0:UserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="InsertUpdateUser">
      <soap:operation soapAction="http://tempuri.org/InsertUpdateUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="User">
    <port name="UserSoap" binding="s0:UserSoap">
      <soap:address location="http://localhost/UserWebService/User.asmx" />
    </port>
  </service>
</definitions>